<!--FOOTER-->
<footer class="uk-section uk-section-small uk-section-muted">
    <div class="uk-container">
        <p class="uk-text-small uk-text-center">Copyright 2019 -
            <a href="https://github.com/Allekslar/october_uikit_scss_starter#readme">october_uikit_scss_starter</a>
            | Built with
            <a data-uk-tooltip href="http://getuikit.com" target="_blank" title="Visit UIkit 3 site">
                <span data-uk-icon="uikit"></span>
            </a>
        </p>
    </div>
</footer>
<!--/FOOTER-->
<!-- OFFCANVAS -->
<div data-uk-offcanvas="flip: true; overlay: true" id="offcanvas-nav">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close" data-uk-close type="button"></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active">
                <a href="#">Active</a>
            </li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li>
                <a href="#js-options">
                    <span class="uk-margin-small-right" data-uk-icon="icon: table"></span>
                    Item</a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
                    Item</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" data-uk-icon="icon: trash"></span>
                    Item</a>
            </li>
        </ul>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            				ex ea commodo consequat.</p>
    </div>
</div>
<!-- /OFFCANVAS -->