// Navbar
// =================================================

@import "~uikit/src/scss/components/navbar";

// Variables
// ========================================================================

$navbar-nav-item-font-size:                      $global-small-font-size !default;

$navbar-dropdown-margin:                         15px !default;
$navbar-dropdown-padding:                        25px !default;
$navbar-dropdown-background:                     $global-background !default;
$navbar-dropdown-grid-gutter-horizontal:         ($navbar-dropdown-padding * 2) !default;

//
// New
//

$navbar-nav-item-text-transform:                 uppercase !default;

$navbar-dropdown-nav-font-size:                  $global-small-font-size !default;

$navbar-dropdown-box-shadow:                     0 5px 12px rgba(0,0,0,0.15) !default;

$navbar-dropbar-box-shadow:                      0 5px 7px rgba(0, 0, 0, 0.05) !default;

$navbar-dropdown-grid-divider-border-width:      $global-border-width !default;
$navbar-dropdown-grid-divider-border:            $navbar-dropdown-nav-divider-border !default;
